/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Geral */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-height: 100vh; */
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.game-container {
    text-align: center;
}

/* Tabuleiro do jogo */
.game-board {
    width: 100vw;
    height: 600px;
    border-bottom: 15px solid rgb(35, 160, 35);
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
    margin: 0 auto;
}

/* Elementos */
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 3s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear ;
}

/* Pulo */
.jump{
    animation: jump 500ms ease-out;
}

/* Pontuação */
.score {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

/* Botão reset */
.reset {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #ff4d4d;
    color: white;
    transition: 0.3s;
}

.reset:hover {
    background-color: #cc0000;
}

.hidden{
    display: none;
}

/* Botão mobile */
.jump-btn{
    display: none;
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffcc00;
    cursor: pointer;
}

/* Responsivo */
@media (max-width: 850px){

    .game-board{
        width: 100vw;
        max-width: 100vw;
        height: 400px;
    }

    .mario{
        width: 12vw;
    }
    .pipe{
        width: 6vw;
    }

    .clouds{
        width: 55vw;
    }
    .jump-btn{
        display: inline-block;
    }
}

/* Animações */
@keyframes pipe-animation{
    from{
        right: -80px;
    } 
    
    to {
        right: 100%;
    }
}

@keyframes jump{

    0%{
        bottom: 0;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    60% {
        bottom: 200px;
    }

    100%{
        bottom: 0;
    }

}

@keyframes clouds-animation {
    from{
        right: -550px;
    } 
    
    to {
        right: 100%;
    }
}